@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans-medium-webfont.woff2') format('woff2'),
		  url('../fonts/clearsans-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	color: #fff;
	background: #202020;
	position: relative;
	overflow-x: hidden;
	font-family:  Clear Sans;
}
[class*="__container"] {
	max-width: 870px;
	margin: 0 auto;
	padding: 0px 15px;
}

[class*="__container-width"] {
	max-width: 1063px;
}


	.header {
		position: absolute;
		width: 100%;
		overflow-x: hidden;
		top: 0;
		left: 0;
		z-index: 10;
		// .header__body

		&__body {
			display: flex;
			justify-content: space-between;
			padding-top: 37px;
			padding-bottom: 30px;
			z-index: 1;
		}

		// .header__burger

		&__burger {
			display: none;
	@media (max-width: 660px) {
		display: block;
		position: relative;
		flex: 0 0 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		&.header__burger.active  {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
		}

		// .header__menu

		&__menu {
			display: flex;
			justify-content: space-between;
			width: 100%;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.44px;

			@media (max-width: 660px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color:#0A0E1A;;
			padding: 100px 0px 0px 0px;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			font-size: 30px;
			transition: all 0.3s ease 0s;
			overflow: auto;
			}
			&.header__menu.active{
				top: 0;
			}
			@media (max-width: 280px) {
				font-size: 20px;
			}
		}

		// .header__item

		&__item {
			transition: color 0.3s;
			@media (max-width: 660px) {
				padding: 50px 0px;
			}
			&:hover {
				color: #C20000;
			}
			& span {
				color: #C20000;
			}
		}

		// .header__link

		&__btn {
			border: #fff 1px solid;
			background-color: transparent;
			color: #fff;
			padding: 6.2px 7.65px;
			transition: 0.3s;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.44px;
			&:hover {
				color: #fff;
				border: #C20000 1px solid;
				background:#C20000;
				box-shadow: 0px 0px 23px 10px rgba(255, 255, 255, 0.25);
			}
			@media (max-width:635px) {
				font-size: 20px;
			}
		}

		// .header__logo

		&__logo {
			padding-left: 31px;
		}
}

.mainpage {
	//height: 550px;
	background: url(../img/main.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	// .mainpage__body

	&__body {
		position: relative;
		padding-top: 249px;
		max-width: 450px;
		z-index: 1;
		@media (max-width:691px) {
			padding-top: 200px;
		}
		
		&::before {
			content: "";
			position: absolute;
			left: -244px;
			top: -110px;
			background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.86) 44.79%, rgba(0, 0, 0, 0.21) 88.02%, rgba(0, 0, 0, 0) 98.94%, rgba(0, 0, 0, 0) 98.95%);;
			width: 1012px;
			height: 783px;
			z-index: -1;
		}
		
	}

	// .mainpage__title

	&__title {
		font-weight: 500;
		font-size: 37px;
		line-height: 50px;
		padding-bottom: 90px;
		& span{
			color: #C20000;
		}
		@media (max-width: 280px) {
			font-size: 24px;
		}
		
	}

	// .mainpage__btn

	&__btn {
		color: #fff;
		border: #C20000 1px solid;
		background-color: transparent;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.75px;
		padding: 14px 14.85px;
		margin-bottom: 133px;
		transition: 0.3s;
		&:hover {
			background:#C20000;
			

			box-shadow: 0px 0px 23px 10px rgba(255, 255, 255, 0.25);
		}
	}
}

.about {
	padding:  99px 0px 100px 0px;
	@media (max-width:635px) {
		padding: 60px 0px;
	}
	// .about__container

	&__container {
	}

	// .about__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items:center;
		@media (max-width:635px) {
			flex-direction: column;
		}
	}

	// .about__text

	&__text {
		max-width: 350px;
		@media (max-width:635px) {
			padding-bottom: 40px;
			width: 100%;
		}
	}

	// .about__title

	&__title {
		padding-bottom: 18px;
		font-weight: 500;
		font-size: 34px;
		line-height: 140.62%;
		letter-spacing: 0.25px;
	}

	// .about__subtitle

	&__subtitle {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
	}

	// .about__gallery

	&__gallery {
		padding: 0px 0px 0px 40px;
		@media (max-width:635px) {
			padding: 0;
		}
	}
}
.img {
		width: 100%;
		height: auto;
		box-shadow: 0px 0px 2px 1px rgba(194, 0, 0, 0.63);
		min-width: 310px ;
		@media (max-width:635px) {
			min-width: auto;
		}
}

.services {
		background: url(../img/services.png) no-repeat ;
		background-size: cover;
		background-position: 50% 50%;

	&__container {
	}

	// .services__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding-top: 71px;
		padding-bottom: 161px;
		@media (max-width:635px) {
			flex-direction: column;
			justify-content: center;
			padding: 40px 0px 100px 0px;
		}
	}

	// .services__items

	&__items {
		display: flex;
		flex-direction: column;
		align-items:center;
		//padding-right: 50px;
	}

	// .services__title

	&__title {
		font-weight: 500;
		font-size: 34px;
		line-height: 140.62%;
		letter-spacing: 0.25px;
		padding-bottom: 22px;

	}

	// .services__btn

	&__btn {
		margin: 25.05px 0px;
		padding: 8.4px 14.01px;
		background-color: transparent;
		color: #fff;
		border: #C20000 1px solid;
		transition: 0.3s;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.75px;
		min-width: 249px;
		&:hover {
			background:#0A0909;
			box-shadow: 0px 0px 23px 10px rgba(255, 255, 255, 0.25);
		}
		@media (max-width:635px) {
			margin: 18px 0px;
		}
	}

	// .services__text

	&__text {
		padding-top: 52px;
		max-width: 457px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
		padding-left: 60px;
		@media (max-width:635px) {
			padding-left: 0px;
			text-align: center;
			padding-top: 30px;
		}
	}
}

.advantages {
		background: url(../img/advantages.png) no-repeat ;
		background-size: cover;
		background-position: 50% 50%;

	// .advantages__container

	&__container {
	}

	// .advantages__body

	&__body {
		padding-top: 34.38px;
		text-align: center;
	}

	// .advantages__title

	&__title {
		padding-bottom: 48.4px;
		font-weight: 500;
		font-size: 34px;
		line-height: 140.62%;
		letter-spacing: 0.25px;
	}

	// .advantages__items

	&__items {
		display: flex;
		align-self: flex-start;
		margin: 0px -30px ;
		flex-wrap: wrap;
		row-gap: 40px;
		@media (max-width:691px) {
			padding: 20px 0px;
		}
	}

	// .advantages__item

	&__item {
      flex: 1 1 50%;
		padding: 0px 30px ;
		@media (max-width:635px) {
			flex: 1 1 100%;
		}
		
	}
}

	// .advantages__img
.item {

	&__body{
		padding: 31.5px 25px 16.3px 25px;
		border: 1px solid #C20000;
		height: 100%;
		background: #141414;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
	}
	&__img {
	}

	&__subtitle{
		padding: 21px 0px ;
	}

	// .advantages__text

	&__text {
	}
}



.consultation {

	// .consultation__container

	&__container {
	}

	// .consultation__body

	&__body {
		padding: 85px 0px;
		display: flex;
		justify-content: space-between;
		align-items:center;
		@media (max-width:635px) {
			flex-direction: column;
			justify-content: center;
			padding: 55px 0px;
		}
	}

	// .consultation__title

	&__title {
		font-weight: 500;
		font-size: 34px;
		line-height: 140.62%;
		letter-spacing: 0.25px;
		max-width: 358px;
		@media (max-width:635px) {
			text-align: center;
		}
	}

	// .consultation__form

	&__form {
		display: flex;
		flex-direction: column;
	}

	// .consultation__input

	&__input {
		background-color: transparent;
		color: #fff;
		padding: 28px 0px 9px 0px;
		border-bottom: 1px solid #FFFFFF;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
		outline: none
	}

	// .consultation__btn

	&__btn {
		background-color: transparent;
		color: #fff;
		padding: 8.4px 13.6px;
		margin-top: 45px;
		border: #C20000 1px solid;
		transition: 0.3s;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.75px;
		min-width: 234px;
		&:hover {
			background:#0A0909;
			box-shadow: 0px 0px 23px 10px rgba(255, 255, 255, 0.25);
		}
	}
}

.footer {
	background:#000;
	padding: 53px 0px;
	@media (max-width:691px) {
		padding: 30px 0px;
	}

	// .footer__img

	&__logo {

	}

	// .footer__menu

	&__menu {
		display: flex;
		justify-content: space-between;
		//flex: 1 1 50%;
		//flex-wrap: wrap;
	}

	&__body{
		display: flex;
		justify-content: flex-end;
		@media (max-width:391px) {
			flex-direction: column;
		}

	}
	&__items{
		display: flex;
		@media (max-width:635px) {
			flex-direction: column;
		}

	}

	// .footer__item

	&__item {
		padding-left: 40px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
		transition: color 0.3s;
		&:hover {
			color: #C20000;
		};
		@media (max-width:691px) {
			padding-left: 25px;
		}
	}
}

